* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: auto;
}
#head {
  text-align: center;
  background-color: black;
  color: white;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
}

.footer {
  position: absolute;
  width: 100%;
  padding: 1rem;
  bottom: 0;
  color: yellow;
  background-color: black;
  text-align: center;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr));
  width: 400px;
  height: 400px;
  transform: rotate(0);
}

.piece.white {
  color: white;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
}
.piece.black {
  color: black;
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 1));
}

.flipped {
  transform: rotate(180deg);
}
.square {
  display: flex;
  align-items: center;
  justify-content: center;
}
.square.light {
  background-color: #f0d965;
}
.square.dark {
  background-color: #b58863;
}
.piece {
  font-size: 36px;
  cursor: pointer;
}
.piece.draggable {
  cursor: grab;
}
.dragging {
  opacity: 0.5;
}
.flipped .piece {
  transform: rotate(180deg);
}
